@model IEnumerable<Document>
@{
    ViewBag.Title = "Received Documents";
}

<div class="text-center">
    <h2 style="font-family: 'Roboto', sans-serif"><i class="fa fa-envelope-open"></i> Received List</h2>
</div>
<br />

<table class="table z-depth-1">
    <thead class="thead-inverse">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Received Date</th>
            <th>Sent By</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var document in Model)
        {
                @if (document.Finished)
                {
                    <tr class="table-success">
                        <th scope="row">@document.DocumentID</th>
                        <td>@document.Name</td>
                        <td>@document.SentDate</td>
                        <td>@document.SentBy.FullName</td>
                        <td>
                            <a class="blue-text" asp-action="Details" asp-controller="Item" asp-route-id="@document.DocumentID"><i class="fa fa-info-circle" title="Info"></i></a>
                        </td>
                    </tr>
                }
                else if (document.NotAccepted)
                {
                    <tr class="table-danger">
                        <th scope="row">@document.DocumentID</th>
                        <td>@document.Name</td>
                        <td>@document.SentDate</td>
                        <td>@document.SentBy.FullName</td>
                        <td>
                            <a class="blue-text" asp-action="Details" asp-controller="Item" asp-route-id="@document.DocumentID"><i class="fa fa-info-circle" title="Info"></i></a>
                            <a class="black-text" asp-action="Reply" asp-controller="Item" asp-route-id="@document.DocumentID"><i class="fa fa-reply" title="Answer"></i></a>
                        </td>
                    </tr>
                }
                else if (document.AnswerDate != null)
                {
                    <tr class="table-warning">
                        <th scope="row">@document.DocumentID</th>
                        <td>@document.Name</td>
                        <td>@document.SentDate</td>
                        <td>@document.SentBy.FullName</td>
                        <td>
                            <a class="blue-text" asp-action="Details" asp-controller="Item" asp-route-id="@document.DocumentID"><i class="fa fa-info-circle" title="Info"></i></a>
                        </td>
                    </tr>
                }
                else
                {
                    <tr class="table">
                        <th scope="row">@document.DocumentID</th>
                        <td>@document.Name</td>
                        <td>@document.SentDate</td>
                        <td>@document.SentBy.FullName</td>
                        <td>
                            <a class="blue-text" asp-action="Details" asp-controller="Item" asp-route-id="@document.DocumentID"><i class="fa fa-info-circle" title="Info"></i></a>
                            <a class="black-text" asp-action="Reply" asp-controller="Item" asp-route-id="@document.DocumentID"><i class="fa fa-reply" title="Answer"></i></a>
                        </td>
                    </tr>
                }
        }
    </tbody>
</table>